@charset "utf-8";

@media screen {
    *{
 
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    }
    html, body {
        padding: 0;
        margin: 0;
    }

    body{
        background-color: rgba(0, 0, 0, 0.178);

        font-size: 1em;
        width: 100vw;
        height: 100vh;
        
       



    }
    ::-webkit-scrollbar { display: none; }

    #suporte{
        display: flex;
        justify-content: center;
        background-color: white;
        
        
    }
    #suporte a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        padding: 10px;
    }
    #suporte a:hover{
        color: red;
        transition: 0.7s;
    }

    main>header>div{
        background-color: white;

        padding: 20px;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        
    }

    main>header>div>h1{
        flex: 0 0 250px;
        
        border: 3px solid black;
        border-radius: 10px;
        padding: 10px;
    }
    main>header>div>a{
        flex: 0 0 250px;
        
        border: 3px solid black;
        border-radius: 10px;
        padding: 20px;
        text-decoration: none;
        color: black;
        font-weight: bold;
        text-align: center;
        
    }
    #login:hover{
        background-color: rgb(255, 0, 0);
        color: white;
        transition: 0.7s;
        
    }
    menu{
        padding: 0;
    }

    #categorias{
        
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    
    }

    .opcao{
        
        background-color: black;
        color: white;
        border: 3px solid rgb(0, 0, 0);

        text-decoration: none;
        font-weight: bold;
        padding: 20px;
        margin: 10px;
        border-radius: 10px;

        flex: 0 0 150px;
        text-align: center;

        transition: background-color 1s ease-in-out;
    }
    .opcao:hover{
        background-color: red;
        color: rgb(255, 255, 255);
        border: 3px solid black;
        transition: 0.7s;
        transform: translate(0px, -5px);
        border-radius: 20px;
        
    }
    

    #info h2{
        background-color: red;
        margin: 0;
        padding: 10px;
        text-align: center;
        
    }
    /*#info2{
        text-align: center;
        background-color: black;
        color: white;
        padding: 20px;
    }*/
    #produtos{
        display: grid;/* Cria o máximo de colunas possíveis, com no mínimo 200px e no máximo 1fr (o que sobrar) */
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        gap: 20px;
    }
    .pag_produtos{
        text-decoration: none;
    }

    .produto{
        background-color: white;
        display: flex;
        flex-flow: column nowrap;

        border-radius: 10px;
        margin: 10px;

    }
    .frescurinha{
        background-color: black;
        color: rgb(0, 255, 0);
        border-radius: 10px 10px 0px 0px;
        text-align: right;
        padding: 0px 10px;
        
        
    }
    .imagem_nome_preços{
        display: flex;
        flex-flow: row nowrap;
    }
    .imagem_produto{
        
        height: 228px;

        display: flex;
        
        
        
    }

    .IMAGEM{
        max-width: 228px;
        max-height: 228px;
    }
    .nome_preço{
        display: flex;
        flex-flow: column nowrap;
        padding: 20px;
        text-align: left;
    }
    .nome_produto{
        display: flex;
        color: black;
        font-weight: bolder;
    }
    .preços{
        display: flex;
        flex-flow: column nowrap;
        margin-top: 10%;

    }
    .preços p{
        margin: 0;
        padding: 0;
    }
    .preço_produto_original{
        color: black;
        text-decoration: line-through;
        font-weight: bold;
    }
    .preço_produto_avista{
        color: green;
        font-weight: bold;
        font-size: 1.4em;

    }
    .preço_produtos_parcela{
        color: rgb(255, 0, 0);
        font-size: 0.7em;
    }
    footer{
        background-color: rgba(0, 0, 0, 0.356);
        padding: 20px;
    }
    footer h1{
        text-align: center;
    }
    #lojas{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }
    .inspiraçoes{
        text-align: center;
        align-items: center;
        
    }
    .inspiraçoes_img{
        padding: 10px;
        
        

    }
    #eu{
        display: flex;
        justify-content: center;
        
        
    }
    .eu{
        width: 50px;
        height: 50px;
        
    }

    
    }